*{                                       /* global */
    margin: 0px;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Roboto", sans-serif;;
    font-size: 32px;
    font-weight: 400;
    line-height: 37px;
    color: black;

    background-color: #EEEEEE;
}

header{                                  /* header */
    position: sticky;
    top: 0px;

    background-color: #007765;
}

.main-container{
    max-width: 1219px;
    margin: 0px auto; 
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0px 55px;
}

.logo{
    margin-top: 20px;
    margin-bottom: 19px;

    height: 45px;
}

nav{
    display: flex;
}

.link, .nav-text{
    font-size: 24px;
    font-weight: 500;
    line-height: 28.13px;
    color: white;
    
    text-decoration: none;
}

.nav-text{
    margin: 0px 8px;
}

.title{                                  /* main */
    padding: 160px 0px;
   
    background: url('../files/title.png') center / cover;
}

h1{
    font-size: 72px;
    font-weight: 500;
    line-height: 84px;
    color: white;
    
    text-align: center;   
}

.container-section{
    padding: 48px 54px 92px;
}

h2{
    font-size: 64px;
    font-weight: 500;
    line-height: 75px;
    color: #007765;

    text-align: center;

    padding-bottom: 16px;
}

.hero{
    background: url("../files/hero.png") center / cover;
    padding: 128px 0px;
}

.hero-container{
    padding: 0px 163px;
}

.hero-text{
    font-size: 48px;
    font-weight: 500;
    line-height: 56px;
    color: white;
    font-style: italic;

    text-align: center;
}

.PPC{
    background-color: white;
}

.PPC-box {
    display:flex;

    margin-bottom: 35px;
}

.PPC-img{
   margin-right: 48px; 
   height: 115px;
}

.team-big-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;

    padding-top: 16px;
    padding-bottom: 2px;
}

figure, figcaption{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.team-img{
    height: 168px;
    width: 168px;

    margin: 24px 91px 12px;    
}

.name{
    font-size: 24px;
    font-weight: 700;
    line-height: 28.13px;
    color: #007765;
}

em{
    font-size: 18px;
    font-weight: 400;
    line-height: 21.09px;

    padding-bottom: 28px;
}

footer{                                  /* footer */
    background-color: #333333;
}

.footer-text{
    font-size: 18px;
    font-weight: 400;
    line-height: 21.09px;
    color: white;

    text-align: center;

    width: 540px;
    
    padding: 48px 0px 64px;
    margin: 0px auto;
}

#TheProblem,#TheTeam{
    margin-top: -84px;
    padding-top: 84px;
}

#PiedPiperCoin{
    margin-top: -132px;
    padding-top: 132px;
}

figure a{cursor: not-allowed;}